<!doctype html>
<html lang="en">
  <!-- header  -->
  <%-include ("./partials/adminHeader.ejs")%>
  <!-- end header -->
  <body
    class="bg-linear-to-r min-h-[100vh] from-cyan-900 to-cyan-600 md:via-cyan-600 md:to-cyan-500"
  >
    <div>
      <!-- navbar -->
      <%-include ("./partials/adminNavbar.ejs")%>
      <!-- end navbar -->
    </div>

    <section class="w-full bg-blue-100">
      <div class="w-full h-full flex flex-col md:flex-row md:items-stretch">
        <div
          class="w-[100%] p-4 min-h-[calc(100vh-110px)] md:min-h-[calc(100vh-130px)]"
        >
          <h2 class="text-center font-bold text-2xl">Welcome back Admin</h2>
          <p class="mt-4 text-[1.1rem]">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptate
            deleniti mollitia voluptatem corrupti laboriosam dolores, laborum
            officia omnis natus voluptatibus tenetur ex quae! Delectus fugiat
            amet accusantium excepturi at aperiam?
          </p>

          <p class="mt-4 text-[1.1rem]">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptate
            deleniti mollitia voluptatem corrupti laboriosam dolores, laborum
            officia omnis natus voluptatibus tenetur ex quae! Delectus fugiat
            amet accusantium excepturi at aperiam?
          </p>
          <p class="mt-4 text-[1.1rem]">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptate
            deleniti mollitia voluptatem corrupti laboriosam dolores, laborum
            officia omnis natus voluptatibus tenetur ex quae! Delectus fugiat
            amet accusantium excepturi at aperiam?
          </p>
          <p class="mt-4 text-[1.1rem]">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptate
            deleniti mollitia voluptatem corrupti laboriosam dolores, laborum
            officia omnis natus voluptatibus tenetur ex quae! Delectus fugiat
            amet accusantium excepturi at aperiam?
          </p>
        </div>
      </div>
    </section>

    <!-- footer -->
    <%- include ("./partials/adminFooter.ejs")%>
    <!-- end footer -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script src="./script.js"></script>
  </body>
</html>
