<footer class="text-white h-[50px] md:h-[60px]">
  <div
    class="px-8 text-center text-[1rem]/[50px] md:text-[1.1rem]/[60px] font-bold text-white"
  >
    Copyright &copy; 2026 mbiyuInspired | Powered by Mbiyu Design
  </div>
</footer>
