<!doctype html>
<html lang="en">
  <!-- header  -->
  <%-include ("../partials/adminHeader.ejs")%>
  <!-- end header -->
  <body
    class="bg-linear-to-r min-h-[100vh] from-cyan-900 to-cyan-600 md:via-cyan-600 md:to-cyan-500"
  >
    <div>
      <!-- navbar -->
      <%-include ("../partials/adminNavbar.ejs")%>
      <!-- end navbar -->
    </div>

    <section class="w-full bg-blue-100">
      <div class="w-full h-full flex flex-col md:flex-row md:items-stretch">
        <div
          class="w-[100%] p-4 min-h-[calc(100vh-110px)] md:min-h-[calc(100vh-130px)]"
        >
          <h2 class="text-2xl md:text-4xl font-bold text-center">Add Posts</h2>
          <div class="mt-4">
            <form
              class="w-full md:w-[720px] lg:w-[980px] xl:w-[1240px] bg-white p-4 mx-auto"
              id="post-data"
            >
              <div class="mb-4">
                <label for="title" class="text-[1rem] font-semibold mb-2"
                  >Title</label
                ><br />
                <input
                  type="text"
                  name="title"
                  id="title"
                  placeholder="Add post title"
                  class="border-2 border-cyan-100 bg-cyan-50 p-2 w-full focus:outline-none rounded-[3px]"
                />
              </div>
              <div class="mb-4">
                <label for="title" class="text-[1rem] font-semibold mb-2"
                  >Image</label
                ><br />
                <input
                  type="file"
                  name="image"
                  id="image"
                  class="border-2 border-cyan-100 bg-cyan-50 w-full focus:outline-none file:bg-cyan-100 cursor-pointer rounded-[3px] file:font-bold file:py-2 file:px-4 file:text-slate-700"
                />
              </div>
              <div class="mb-4">
                <label for="title" class="text-[1rem] font-semibold mb-2"
                  >Body</label
                ><br />
                <textarea
                  name="body"
                  id="editor"
                  placeholder="Add post body"
                  class="border-2 border-cyan-100 bg-cyan-50 p-2 w-full focus:outline-none h-[20rem] resize-none rounded-[3px]"
                ></textarea>
              </div>
              <div class="mb-4">
                <label for="snippet" class="text-[1rem] font-semibold mb-2"
                  >Snippet</label
                ><br />
                <textarea
                  name="snippet"
                  placeholder="Add post snippet"
                  id="snippet"
                  class="border-2 border-cyan-100 bg-cyan-50 p-2 w-full focus:outline-none h-[5rem] resize-none rounded-[3px]"
                ></textarea>
              </div>
              <div class="mb-4">
                <label for="topic" class="text-[1rem] font-semibold mb-2"
                  >Topic</label
                >
                <select
                  name="topic"
                  id="topic"
                  class="border-2 border-cyan-100 bg-cyan-50 p-2 w-full outline-none rounded-[3px]"
                >
                  <option selected disabled hidden>Select topic</option>
                  <option value="education">Education</option>
                  <option value="technology">Technology</option>
                  <option value="trends">Trends</option>
                </select>
              </div>
              <div class="mb-4">
                <label for="title" class="text-[1rem] font-semibold mb-2"
                  >Slug</label
                ><br />
                <input
                  type="text"
                  name="slug"
                  id="slug"
                  placeholder="Add post slug"
                  class="border-2 border-cyan-100 bg-cyan-50 p-2 w-full focus:outline-none rounded-[3px]"
                />
              </div>
              <div class="mb-4">
                <label for="title" class="text-[1rem] font-semibold mb-2"
                  >Description</label
                ><br />
                <input
                  type="text"
                  name="description"
                  id="description"
                  placeholder="Add post description"
                  class="border-2 border-cyan-100 bg-cyan-50 p-2 w-full focus:outline-none rounded-[3px]"
                />
              </div>
              <div class="mb-4">
                <input
                  type="submit"
                  value="Add Post"
                  id="submit"
                  class="border-2 text-white font-semibold border-cyan-500 bg-cyan-500 p-2 w-full cursor-pointer rounded-[3px]"
                />
              </div>
              <div>
                <p
                  id="message"
                  class="px-2 py-3 absolute w-70 top-2 right-2 hidden font-semibold border-b-2 border-cyan-100 text-cyan-700 bg-cyan-50 text-center"
                ></p>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>

    <!-- footer -->
    <%- include ("../partials/adminFooter.ejs")%>
    <!-- end footer -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>

    <!-- CKEditor CDN -->
    <script src="https://cdn.ckeditor.com/ckeditor5/39.0.1/classic/ckeditor.js"></script>

    <script src="/js/script.js"></script>
    <script src="/js/addPost.js"></script>
  </body>
</html>
