<!doctype html>
<html lang="en">
  <!-- header  -->
  <%-include ("./partials/header.ejs")%>
  <!-- end header -->
  <body
    class="bg-linear-to-r from-cyan-900 to-cyan-600 md:via-cyan-600 md:to-cyan-500"
  >
    <div>
      <!-- navbar -->
      <%-include ("./partials/navbar.ejs")%>
      <!-- end navbar -->
      <div class="text-white py-3">
        <h2 class="text-2xl md:text-4xl lg:text-5xl font-bold my-8 text-center">
          About MbiyuInspired
        </h2>
      </div>
    </div>

    <section class="h-full px-2 lg:px-8 py-2 lg:py-8 bg-blue-50">
      <div class="flex flex-col lg:flex-row gap-8 my-2 lg:my-8">
        <div class="w-full lg:w-[50%] pt-10 lg:pt-20">
          <h2 class="text-xl font-bold md:text-3xl">
            Hey fam and tech Enthusiast,
          </h2>
          <h3 class="font-bold text-[1.1rem] my-4">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quaerat
            consequatur, tenetur amet velit eos consectetur facilis officiis
            reprehenderit sequi dolores vel quas dolore beatae blanditiis rem
            odit. Aut, reprehenderit nisi.
          </h3>
          <p class="text-[1.1rem] mb-[1rem]">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laborum,
            suscipit, consequuntur eligendi fugit nobis assumenda maxime omnis
            dolores mollitia obcaecati accusamus sequi odio excepturi iure
            commodi modi! Explicabo reprehenderit at repudiandae, delectus sequi
            maiores, assumenda pariatur alias architecto labore distinctio.
          </p>
          <p class="text-[1.1rem] mb-[1rem]">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore
            ratione nesciunt perspiciatis vero recusandae unde pariatur ipsum
            fugiat quaerat quia.
          </p>
        </div>
        <div class="w-full lg:w-[50%] pb-10">
          <img
            src="./images/FILE4027.JPG"
            alt="fam"
            class="w-120 h-120 mx-auto border border-5 border-cyan-500 shadow-xl/30 shadow-cyan-500 rounded-full animate-bounce-y"
          />
        </div>
      </div>
    </section>

    <!-- footer -->
    <%- include ("./partials/footer.ejs")%>
    <!-- end footer -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script src="./script.js"></script>
  </body>
</html>
