<!doctype html>
<html lang="en">
  <!-- header  -->
  <%-include ("./partials/header.ejs")%>
  <!-- end header -->
  <body
    class="bg-linear-to-r from-cyan-900 to-cyan-600 md:via-cyan-600 md:to-cyan-500"
  >
    <div>
      <!-- navbar -->
      <%-include ("./partials/navbar.ejs")%>
      <!-- end navbar -->
      <div class="text-white py-3">
        <h2 class="text-2xl md:text-4xl lg:text-5xl font-bold my-8 text-center">
          Contacts
        </h2>
      </div>
    </div>

    <section class="h-full px-8 py-8 bg-blue-50">
      <div>
        <p class="text-center font-semibold text-xl md:text-2xl">
          Use the contact form below. I typically reply within 24 hours
        </p>
        <form
          id="contact-form"
          method="post"
          class="border border-indigo-300 border-1 w-full max-w-[50rem] mx-auto my-8 p-12 rounded-[5px] bg-white"
        >
          <div class="flex align-center flex-col md:flex-row gap-4">
            <div class="w-full md:w-[50%]">
              <label for="first-name" class="text-[1.2rem]"
                >First Name <span class="text-red-500">*</span></label
              ><br />
              <input
                type="text"
                name="first-name"
                id="first-name"
                class="w-full border-2 border-indigo-100 p-[8px] text-[1rem] focus:outline-none rounded-[5px] bg-indigo-50"
              />
            </div>
            <div class="w-full md:w-[50%]">
              <label for="last-name" class="text-[1.2rem]"
                >Last Name <span class="text-red-500">*</span></label
              ><br />
              <input
                type="text"
                name="last-name"
                id="last-name"
                class="w-full border-2 border-indigo-100 p-[8px] text-[1rem] focus:outline-none rounded-[5px] bg-indigo-50"
              />
            </div>
          </div>
          <div class="w-full mt-4">
            <label for="email" class="text-[1.2rem]"
              >Email <span class="text-red-500">*</span></label
            >
            <input
              type="email"
              name="email"
              id="email"
              class="w-full border-2 border-indigo-100 p-[8px] text-[1rem] focus:outline-none rounded-[5px] bg-indigo-50"
            />
          </div>
          <div class="w-full mt-4">
            <label for="message">Message</label><br />
            <textarea
              name="message"
              id="message-body"
              class="w-full h-24 border-2 border-indigo-100 p-[8px] text-[1rem] focus:outline-none rounded-[5px] bg-indigo-50 resize-none"
            ></textarea>
          </div>
          <button
            id="submit"
            class="py-3 px-6 bg-indigo-500 text-white font-bold rounded-[3px] mt-4 cursor-pointer hover:text-yellow-500 transition-all duration-300 ease"
          >
            Submit
          </button>
          <div id="message"></div>
        </form>
      </div>
    </section>

    <!-- footer -->
    <%- include ("./partials/footer.ejs")%>
    <!-- end footer -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script src="/js/script.js"></script>
    <script src="/js/contact.js"></script>
  </body>
</html>
