<!doctype html>
<html lang="en">
  <!-- header  -->
  <%-include ("./partials/header.ejs")%>
  <!-- end header -->
  <body
    class="bg-linear-to-r from-cyan-900 to-cyan-600 md:via-cyan-600 md:to-cyan-500"
  >
    <div>
      <!-- navbar -->
      <%-include ("./partials/navbar.ejs")%>
      <!-- end navbar -->
      <!-- intro -->

      <div
        class="pt-[60px] md:pt-[70px] h-full px-8 text-white mt-[1rem] md:mt-[2rem]"
      >
        <h2 class="text-sm md:text-xl font-semibold">What I Do?</h2>
        <div
          class="w-full md:max-w-[80%] text-[1.2rem]/[1.8rem] md:text-[1.6rem]/[2rem] mt-[1rem] md:my-[1.5rem] lg:mt-[2rem] font-bold"
        >
          I write and explain concepts related to technology and education with
          the aim to help you make informed decisions. My goal is to use skills
          skill and experience in these two fields with you.
        </div>
      </div>
    </div>

    <!-- slider: recent posts -->
    <section class="bg-blue-50">
      <div class="container mx-auto px-4 py-8">
        <h2
          class="font-bold text-2xl md:text-4xl lg:text-5xl text-center mt-1 md:mt-2 lg:mt-3 mb-[3rem] text-slate-900"
        >
          Recent Posts
        </h2>

        <!-- Custom Navigation Arrows -->
        <div class="slider-container">
          <div class="custom-arrow prev">❮</div>
          <div class="custom-arrow next">❯</div>

          <!-- Slick Carousel Wrapper -->
          <div class="slider-wrapper">
            <!-- Card 1 -->
            <div class="px-2">
              <div
                class="w-full shadow-[0px_5px_10px_rgba(0,0,0,0.25)] rounded-lg overflow-hidden bg-white"
              >
                <img
                  src="./images/acad01.jpeg"
                  alt="slide-show"
                  class="w-full h-48 object-cover"
                />
                <div class="p-[1rem]">
                  <h3
                    class="text-[1rem] font-semibold tracking-wider mb-[0.8rem] text-orange-400"
                  >
                    Education
                  </h3>
                  <h2 class="text-xl font-bold mb-2">
                    Why CBC headache is just the beginning for grade 10 teachers
                  </h2>
                  <p class="text-gray-600">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Iste maiores dolores tempore, eius perspiciatis culpa.
                  </p>
                </div>
              </div>
            </div>

            <!-- Card 2 -->
            <div class="px-2">
              <div
                class="w-full shadow-[0px_5px_10px_rgba(0,0,0,0.25)] rounded-lg overflow-hidden bg-white"
              >
                <img
                  src="./images/acad01.jpeg"
                  alt="slide-show"
                  class="w-full h-48 object-cover"
                />
                <div class="p-[1rem]">
                  <h3
                    class="text-[1rem] font-semibold tracking-wider mb-[0.8rem] text-orange-400"
                  >
                    Education
                  </h3>
                  <h2 class="text-xl font-bold mb-2">
                    Why CBC headache is just the beginning for grade 10 teachers
                  </h2>
                  <p class="text-gray-600">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Iste maiores dolores tempore, eius perspiciatis culpa.
                  </p>
                </div>
              </div>
            </div>

            <!-- Card 3 -->
            <div class="px-2">
              <div
                class="w-full shadow-[0px_5px_10px_rgba(0,0,0,0.25)] rounded-lg overflow-hidden bg-white"
              >
                <img
                  src="./images/acad01.jpeg"
                  alt="slide-show"
                  class="w-full h-48 object-cover"
                />
                <div class="p-[1rem]">
                  <h3
                    class="text-[1rem] font-semibold tracking-wider mb-[0.8rem] text-orange-400"
                  >
                    Education
                  </h3>
                  <h2 class="text-xl font-bold mb-2">
                    Why CBC headache is just the beginning for grade 10 teachers
                  </h2>
                  <p class="text-gray-600">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Iste maiores dolores tempore, eius perspiciatis culpa.
                  </p>
                </div>
              </div>
            </div>

            <!-- Card 4 -->
            <div class="px-2">
              <div
                class="w-full shadow-[0px_5px_10px_rgba(0,0,0,0.25)] rounded-lg overflow-hidden bg-white"
              >
                <img
                  src="./images/acad01.jpeg"
                  alt="slide-show"
                  class="w-full h-48 object-cover"
                />
                <div class="p-[1rem]">
                  <h3
                    class="text-[1rem] font-semibold tracking-wider mb-[0.8rem] text-orange-400"
                  >
                    Education
                  </h3>
                  <h2 class="text-xl font-bold mb-2">
                    Why CBC headache is just the beginning for grade 10 teachers
                  </h2>
                  <p class="text-gray-600">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Iste maiores dolores tempore, eius perspiciatis culpa.
                  </p>
                </div>
              </div>
            </div>

            <!-- Card 5 -->
            <div class="px-2">
              <div
                class="w-full shadow-[0px_5px_10px_rgba(0,0,0,0.25)] rounded-lg overflow-hidden bg-white"
              >
                <img
                  src="./images/acad01.jpeg"
                  alt="slide-show"
                  class="w-full h-48 object-cover"
                />
                <div class="p-[1rem]">
                  <h3
                    class="text-[1rem] font-semibold tracking-wider mb-[0.8rem] text-orange-400"
                  >
                    Education
                  </h3>
                  <h2 class="text-xl font-bold mb-2">
                    Why CBC headache is just the beginning for grade 10 teachers
                  </h2>
                  <p class="text-gray-600">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Iste maiores dolores tempore, eius perspiciatis culpa.
                  </p>
                </div>
              </div>
            </div>

            <!-- Card 6 -->
            <div class="px-2">
              <div
                class="w-full shadow-[0px_5px_10px_rgba(0,0,0,0.25)] rounded-lg overflow-hidden bg-white"
              >
                <img
                  src="./images/acad01.jpeg"
                  alt="slide-show"
                  class="w-full h-48 object-cover"
                />
                <div class="p-[1rem]">
                  <h3
                    class="text-[1rem] font-semibold tracking-wider mb-[0.8rem] text-orange-400"
                  >
                    Education
                  </h3>
                  <h2 class="text-xl font-bold mb-2">
                    Why CBC headache is just the beginning for grade 10 teachers
                  </h2>
                  <p class="text-gray-600">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Iste maiores dolores tempore, eius perspiciatis culpa.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- deals and services -->
    <section class="pt-[60px] md:pt-[70px] h-full px-8 bg-blue-50">
      <div class="mt-[1rem] md:mt-[2rem]">
        <h2
          class="font-bold text-5xl text-center mt-[2rem] mb-[3rem] text-slate-900"
        >
          Deals
        </h2>
        <div
          class="grid w-full max-w-350 my-4 p-8 shadow-gray-500 mx-auto grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 justify-items-center"
        >
          <div
            class="group w-full max-w-[350px] md:max-w-full shadow-[0px_5px_10px_rgba(0,0,0,0.25)] mb-[2rem] overflow-hidden cursor-pointer transition-transform duration-300 hover:scale-[1.02] rounded-[3px]"
          >
            <div class="relative h-[250px] md:h-[300px] object-cover">
              <img
                src="./images/acad01.jpeg"
                alt="slide-show"
                class="w-full h-[300px]"
              />
              <div
                class="p-[1rem] text-center absolute top-[-100%] group-hover:top-0 bg-linear-to-b from-cyan-500 to-transparent h-[300px] flex flex-col align-center justify-center text-white transition-all ease-out duration-500"
              >
                <h3
                  class="text-xl font-semibold tracking-wider mb-[0.8rem] text-yellow-500 text-shadow-[2px_2px_10px_rgba(0,0,0,0.5)]"
                >
                  Web Design
                </h3>
                <h2 class="text-2xl font-bold text-2xl">
                  Get a stunning website that is professionally done.
                </h2>
                <div class="mt-[1rem]">
                  <i
                    class="fa-solid fa-arrow-up-right-from-square text-indigo-500 font-bold bg-white text-xl inline-flex border border-3 border-white p-3 rounded-full"
                  ></i>
                </div>
              </div>
            </div>
          </div>
          <div
            class="group w-full max-w-[350px] md:max-w-full shadow-[0px_5px_10px_rgba(0,0,0,0.25)] mb-[2rem] overflow-hidden cursor-pointer transition-transform duration-300 hover:scale-[1.02] rounded-[3px]"
          >
            <div class="relative h-[250px] md:h-[300px] object-cover">
              <img
                src="./images/acad01.jpeg"
                alt="slide-show"
                class="w-full h-[300px]"
              />
              <div
                class="p-[1rem] text-center absolute top-[-100%] group-hover:top-0 bg-linear-to-b from-cyan-500 to-transparent h-[300px] flex flex-col align-center justify-center text-white transition-all ease-out duration-500"
              >
                <h3
                  class="text-xl font-semibold tracking-wider mb-[0.8rem] text-yellow-500 text-shadow-[2px_2px_10px_rgba(0,0,0,0.5)]"
                >
                  Web Design
                </h3>
                <h2 class="text-2xl font-bold text-2xl">
                  Get a stunning website that is professionally done.
                </h2>
                <div class="mt-[1rem]">
                  <i
                    class="fa-solid fa-arrow-up-right-from-square text-indigo-500 font-bold bg-white text-xl inline-flex border border-3 border-white p-3 rounded-full"
                  ></i>
                </div>
              </div>
            </div>
          </div>
          <div
            class="group w-full max-w-[350px] md:max-w-full shadow-[0px_5px_10px_rgba(0,0,0,0.25)] mb-[2rem] overflow-hidden cursor-pointer transition-transform duration-300 hover:scale-[1.02] rounded-[3px]"
          >
            <div class="relative h-[250px] md:h-[300px] object-cover">
              <img
                src="./images/acad01.jpeg"
                alt="slide-show"
                class="w-full h-[300px]"
              />
              <div
                class="p-[1rem] text-center absolute top-[-100%] group-hover:top-0 bg-linear-to-b from-cyan-500 to-transparent h-[300px] flex flex-col align-center justify-center text-white transition-all ease-out duration-500"
              >
                <h3
                  class="text-xl font-semibold tracking-wider mb-[0.8rem] text-yellow-500 text-shadow-[2px_2px_10px_rgba(0,0,0,0.5)]"
                >
                  Web Design
                </h3>
                <h2 class="text-2xl font-bold text-2xl">
                  Get a stunning website that is professionally done.
                </h2>
                <div class="mt-[1rem]">
                  <i
                    class="fa-solid fa-arrow-up-right-from-square text-indigo-500 font-bold bg-white text-xl inline-flex border border-3 border-white p-3 rounded-full"
                  ></i>
                </div>
              </div>
            </div>
          </div>
          <div
            class="group w-full max-w-[350px] md:max-w-full shadow-[0px_5px_10px_rgba(0,0,0,0.25)] mb-[2rem] overflow-hidden cursor-pointer transition-transform duration-300 hover:scale-[1.02] rounded-[3px]"
          >
            <div class="relative h-[250px] md:h-[300px] object-cover">
              <img
                src="./images/acad01.jpeg"
                alt="slide-show"
                class="w-full h-[300px]"
              />
              <div
                class="p-[1rem] text-center absolute top-[-100%] group-hover:top-0 bg-linear-to-b from-cyan-500 to-transparent h-[300px] flex flex-col align-center justify-center text-white transition-all ease-out duration-500"
              >
                <h3
                  class="text-xl font-semibold tracking-wider mb-[0.8rem] text-yellow-500 text-shadow-[2px_2px_10px_rgba(0,0,0,0.5)]"
                >
                  Web Design
                </h3>
                <h2 class="text-2xl font-bold text-2xl">
                  Get a stunning website that is professionally done.
                </h2>
                <div class="mt-[1rem]">
                  <i
                    class="fa-solid fa-arrow-up-right-from-square text-indigo-500 font-bold bg-white text-xl inline-flex border border-3 border-white p-3 rounded-full"
                  ></i>
                </div>
              </div>
            </div>
          </div>
          <div
            class="group w-full max-w-[350px] md:max-w-full shadow-[0px_5px_10px_rgba(0,0,0,0.25)] mb-[2rem] overflow-hidden cursor-pointer transition-transform duration-300 hover:scale-[1.02] rounded-[3px]"
          >
            <div class="relative h-[250px] md:h-[300px] object-cover">
              <img
                src="./images/acad01.jpeg"
                alt="slide-show"
                class="w-full h-[300px]"
              />
              <div
                class="p-[1rem] text-center absolute top-[-100%] group-hover:top-0 bg-linear-to-b from-cyan-500 to-transparent h-[300px] flex flex-col align-center justify-center text-white transition-all ease-out duration-500"
              >
                <h3
                  class="text-xl font-semibold tracking-wider mb-[0.8rem] text-yellow-500 text-shadow-[2px_2px_10px_rgba(0,0,0,0.5)]"
                >
                  Web Design
                </h3>
                <h2 class="text-2xl font-bold text-2xl">
                  Get a stunning website that is professionally done.
                </h2>
                <div class="mt-[1rem]">
                  <i
                    class="fa-solid fa-arrow-up-right-from-square text-indigo-500 font-bold bg-white text-xl inline-flex border border-3 border-white p-3 rounded-full"
                  ></i>
                </div>
              </div>
            </div>
          </div>
          <div
            class="group w-full max-w-[350px] md:max-w-full shadow-[0px_5px_10px_rgba(0,0,0,0.25)] mb-[2rem] overflow-hidden cursor-pointer transition-transform duration-300 hover:scale-[1.02] rounded-[3px]"
          >
            <div class="relative h-[250px] md:h-[300px] object-cover">
              <img
                src="./images/acad01.jpeg"
                alt="slide-show"
                class="w-full h-[300px]"
              />
              <div
                class="p-[1rem] text-center absolute top-[-100%] group-hover:top-0 bg-linear-to-b from-cyan-500 to-transparent h-[300px] flex flex-col align-center justify-center text-white transition-all ease-out duration-500"
              >
                <h3
                  class="text-xl font-semibold tracking-wider mb-[0.8rem] text-yellow-500 text-shadow-[2px_2px_10px_rgba(0,0,0,0.5)]"
                >
                  Web Design
                </h3>
                <h2 class="text-2xl font-bold text-2xl">
                  Get a stunning website that is professionally done.
                </h2>
                <div class="mt-[1rem]">
                  <i
                    class="fa-solid fa-arrow-up-right-from-square text-indigo-500 font-bold bg-white text-xl inline-flex border border-3 border-white p-3 rounded-full"
                  ></i>
                </div>
              </div>
            </div>
          </div>
          <div
            class="group w-full max-w-[350px] md:max-w-full shadow-[0px_5px_10px_rgba(0,0,0,0.25)] mb-[2rem] overflow-hidden cursor-pointer transition-transform duration-300 hover:scale-[1.02] rounded-[3px]"
          >
            <div class="relative h-[250px] md:h-[300px] object-cover">
              <img
                src="./images/acad01.jpeg"
                alt="slide-show"
                class="w-full h-[300px]"
              />
              <div
                class="p-[1rem] text-center absolute top-[-100%] group-hover:top-0 bg-linear-to-b from-cyan-500 to-transparent h-[300px] flex flex-col align-center justify-center text-white transition-all ease-out duration-500"
              >
                <h3
                  class="text-xl font-semibold tracking-wider mb-[0.8rem] text-yellow-500 text-shadow-[2px_2px_10px_rgba(0,0,0,0.5)]"
                >
                  Web Design
                </h3>
                <h2 class="text-2xl font-bold text-2xl">
                  Get a stunning website that is professionally done.
                </h2>
                <div class="mt-[1rem]">
                  <i
                    class="fa-solid fa-arrow-up-right-from-square text-indigo-500 font-bold bg-white text-xl inline-flex border border-3 border-white p-3 rounded-full"
                  ></i>
                </div>
              </div>
            </div>
          </div>
          <div
            class="group w-full max-w-[350px] md:max-w-full shadow-[0px_5px_10px_rgba(0,0,0,0.25)] mb-[2rem] overflow-hidden cursor-pointer transition-transform duration-300 hover:scale-[1.02] rounded-[3px]"
          >
            <div class="relative h-[250px] md:h-[300px] object-cover">
              <img
                src="./images/acad01.jpeg"
                alt="slide-show"
                class="w-full h-[300px]"
              />
              <div
                class="p-[1rem] text-center absolute top-[-100%] group-hover:top-0 bg-linear-to-b from-cyan-500 to-transparent h-[300px] flex flex-col align-center justify-center text-white transition-all ease-out duration-500"
              >
                <h3
                  class="text-xl font-semibold tracking-wider mb-[0.8rem] text-yellow-500 text-shadow-[2px_2px_10px_rgba(0,0,0,0.5)]"
                >
                  Web Design
                </h3>
                <h2 class="text-2xl font-bold text-2xl">
                  Get a stunning website that is professionally done.
                </h2>
                <div class="mt-[1rem]">
                  <i
                    class="fa-solid fa-arrow-up-right-from-square text-indigo-500 font-bold bg-white text-xl inline-flex border border-3 border-white p-3 rounded-full"
                  ></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- footer -->
    <%- include ("./partials/footer.ejs")%>
    <!-- end footer -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script src="/js/script.js"></script>
  </body>
</html>
