<!doctype html>
<html lang="en">
  <!-- header  -->
  <%-include ("./partials/header.ejs")%>
  <!-- end header -->
  <body
    class="bg-linear-to-r from-cyan-900 to-cyan-600 md:via-cyan-600 md:to-cyan-500"
  >
    <div>
      <!-- navbar -->
      <%-include ("./partials/navbar.ejs")%>
      <!-- end navbar -->
      <div class="text-white py-3">
        <h2 class="text-2xl md:text-4xl lg:text-5xl font-bold my-8 text-center">
          Deals and Services
        </h2>
      </div>
    </div>
    <section class="pt-[60px] md:pt-[70px] h-full px-8 bg-white">
      <div class="mt-[1rem] md:mt-[2rem]">
        <div
          class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-6 justify-items-center"
        >
          <div
            class="group w-full max-w-[350px] md:max-w-full shadow-[0px_5px_10px_rgba(0,0,0,0.25)] mb-[2rem] overflow-hidden cursor-pointer transition-transform duration-300 hover:scale-[1.02] rounded-[3px]"
          >
            <div class="relative h-[250px] md:h-[300px] object-cover">
              <img
                src="./images/acad01.jpeg"
                alt="slide-show"
                class="w-full h-[300px]"
              />
              <div
                class="p-[1rem] text-center absolute top-[-100%] group-hover:top-0 bg-linear-to-b from-indigo-500 to-transparent h-[300px] flex flex-col align-center justify-center text-white transition-all ease-out duration-500"
              >
                <h3
                  class="text-xl font-semibold tracking-wider mb-[0.8rem] text-yellow-500 text-shadow-[2px_2px_10px_rgba(0,0,0,0.5)]"
                >
                  Web Design
                </h3>
                <h2 class="text-2xl font-bold text-2xl">
                  Get a stunning website that is professionally done.
                </h2>
                <div class="mt-[1rem]">
                  <i
                    class="fa-solid fa-arrow-up-right-from-square text-indigo-500 font-bold bg-white text-xl inline-flex border border-3 border-white p-3 rounded-full"
                  ></i>
                </div>
              </div>
            </div>
          </div>
          <div
            class="group w-full max-w-[350px] md:max-w-full shadow-[0px_5px_10px_rgba(0,0,0,0.25)] mb-[2rem] overflow-hidden cursor-pointer transition-transform duration-300 hover:scale-[1.02] rounded-[3px]"
          >
            <div class="relative h-[250px] md:h-[300px] object-cover">
              <img
                src="./images/acad01.jpeg"
                alt="slide-show"
                class="w-full h-[300px]"
              />
              <div
                class="p-[1rem] text-center absolute top-[-100%] group-hover:top-0 bg-linear-to-b from-indigo-500 to-transparent h-[300px] flex flex-col align-center justify-center text-white transition-all ease-out duration-500"
              >
                <h3
                  class="text-xl font-semibold tracking-wider mb-[0.8rem] text-yellow-500 text-shadow-[2px_2px_10px_rgba(0,0,0,0.5)]"
                >
                  Web Design
                </h3>
                <h2 class="text-2xl font-bold text-2xl">
                  Get a stunning website that is professionally done.
                </h2>
                <div class="mt-[1rem]">
                  <i
                    class="fa-solid fa-arrow-up-right-from-square text-indigo-500 font-bold bg-white text-xl inline-flex border border-3 border-white p-3 rounded-full"
                  ></i>
                </div>
              </div>
            </div>
          </div>
          <div
            class="group w-full max-w-[350px] md:max-w-full shadow-[0px_5px_10px_rgba(0,0,0,0.25)] mb-[2rem] overflow-hidden cursor-pointer transition-transform duration-300 hover:scale-[1.02] rounded-[3px]"
          >
            <div class="relative h-[250px] md:h-[300px] object-cover">
              <img
                src="./images/acad01.jpeg"
                alt="slide-show"
                class="w-full h-[300px]"
              />
              <div
                class="p-[1rem] text-center absolute top-[-100%] group-hover:top-0 bg-linear-to-b from-indigo-500 to-transparent h-[300px] flex flex-col align-center justify-center text-white transition-all ease-out duration-500"
              >
                <h3
                  class="text-xl font-semibold tracking-wider mb-[0.8rem] text-yellow-500 text-shadow-[2px_2px_10px_rgba(0,0,0,0.5)]"
                >
                  Web Design
                </h3>
                <h2 class="text-2xl font-bold text-2xl">
                  Get a stunning website that is professionally done.
                </h2>
                <div class="mt-[1rem]">
                  <i
                    class="fa-solid fa-arrow-up-right-from-square text-indigo-500 font-bold bg-white text-xl inline-flex border border-3 border-white p-3 rounded-full"
                  ></i>
                </div>
              </div>
            </div>
          </div>
          <div
            class="group w-full max-w-[350px] md:max-w-full shadow-[0px_5px_10px_rgba(0,0,0,0.25)] mb-[2rem] overflow-hidden cursor-pointer transition-transform duration-300 hover:scale-[1.02] rounded-[3px]"
          >
            <div class="relative h-[250px] md:h-[300px] object-cover">
              <img
                src="./images/acad01.jpeg"
                alt="slide-show"
                class="w-full h-[300px]"
              />
              <div
                class="p-[1rem] text-center absolute top-[-100%] group-hover:top-0 bg-linear-to-b from-indigo-500 to-transparent h-[300px] flex flex-col align-center justify-center text-white transition-all ease-out duration-500"
              >
                <h3
                  class="text-xl font-semibold tracking-wider mb-[0.8rem] text-yellow-500 text-shadow-[2px_2px_10px_rgba(0,0,0,0.5)]"
                >
                  Web Design
                </h3>
                <h2 class="text-2xl font-bold text-2xl">
                  Get a stunning website that is professionally done.
                </h2>
                <div class="mt-[1rem]">
                  <i
                    class="fa-solid fa-arrow-up-right-from-square text-indigo-500 font-bold bg-white text-xl inline-flex border border-3 border-white p-3 rounded-full"
                  ></i>
                </div>
              </div>
            </div>
          </div>
          <div
            class="group w-full max-w-[350px] md:max-w-full shadow-[0px_5px_10px_rgba(0,0,0,0.25)] mb-[2rem] overflow-hidden cursor-pointer transition-transform duration-300 hover:scale-[1.02] rounded-[3px]"
          >
            <div class="relative h-[250px] md:h-[300px] object-cover">
              <img
                src="./images/acad01.jpeg"
                alt="slide-show"
                class="w-full h-[300px]"
              />
              <div
                class="p-[1rem] text-center absolute top-[-100%] group-hover:top-0 bg-linear-to-b from-indigo-500 to-transparent h-[300px] flex flex-col align-center justify-center text-white transition-all ease-out duration-500"
              >
                <h3
                  class="text-xl font-semibold tracking-wider mb-[0.8rem] text-yellow-500 text-shadow-[2px_2px_10px_rgba(0,0,0,0.5)]"
                >
                  Web Design
                </h3>
                <h2 class="text-2xl font-bold text-2xl">
                  Get a stunning website that is professionally done.
                </h2>
                <div class="mt-[1rem]">
                  <i
                    class="fa-solid fa-arrow-up-right-from-square text-indigo-500 font-bold bg-white text-xl inline-flex border border-3 border-white p-3 rounded-full"
                  ></i>
                </div>
              </div>
            </div>
          </div>
          <div
            class="group w-full max-w-[350px] md:max-w-full shadow-[0px_5px_10px_rgba(0,0,0,0.25)] mb-[2rem] overflow-hidden cursor-pointer transition-transform duration-300 hover:scale-[1.02] rounded-[3px]"
          >
            <div class="relative h-[250px] md:h-[300px] object-cover">
              <img
                src="./images/acad01.jpeg"
                alt="slide-show"
                class="w-full h-[300px]"
              />
              <div
                class="p-[1rem] text-center absolute top-[-100%] group-hover:top-0 bg-linear-to-b from-indigo-500 to-transparent h-[300px] flex flex-col align-center justify-center text-white transition-all ease-out duration-500"
              >
                <h3
                  class="text-xl font-semibold tracking-wider mb-[0.8rem] text-yellow-500 text-shadow-[2px_2px_10px_rgba(0,0,0,0.5)]"
                >
                  Web Design
                </h3>
                <h2 class="text-2xl font-bold text-2xl">
                  Get a stunning website that is professionally done.
                </h2>
                <div class="mt-[1rem]">
                  <i
                    class="fa-solid fa-arrow-up-right-from-square text-indigo-500 font-bold bg-white text-xl inline-flex border border-3 border-white p-3 rounded-full"
                  ></i>
                </div>
              </div>
            </div>
          </div>
          <div
            class="group w-full max-w-[350px] md:max-w-full shadow-[0px_5px_10px_rgba(0,0,0,0.25)] mb-[2rem] overflow-hidden cursor-pointer transition-transform duration-300 hover:scale-[1.02] rounded-[3px]"
          >
            <div class="relative h-[250px] md:h-[300px] object-cover">
              <img
                src="./images/acad01.jpeg"
                alt="slide-show"
                class="w-full h-[300px]"
              />
              <div
                class="p-[1rem] text-center absolute top-[-100%] group-hover:top-0 bg-linear-to-b from-indigo-500 to-transparent h-[300px] flex flex-col align-center justify-center text-white transition-all ease-out duration-500"
              >
                <h3
                  class="text-xl font-semibold tracking-wider mb-[0.8rem] text-yellow-500 text-shadow-[2px_2px_10px_rgba(0,0,0,0.5)]"
                >
                  Web Design
                </h3>
                <h2 class="text-2xl font-bold text-2xl">
                  Get a stunning website that is professionally done.
                </h2>
                <div class="mt-[1rem]">
                  <i
                    class="fa-solid fa-arrow-up-right-from-square text-indigo-500 font-bold bg-white text-xl inline-flex border border-3 border-white p-3 rounded-full"
                  ></i>
                </div>
              </div>
            </div>
          </div>
          <div
            class="group w-full max-w-[350px] md:max-w-full shadow-[0px_5px_10px_rgba(0,0,0,0.25)] mb-[2rem] overflow-hidden cursor-pointer transition-transform duration-300 hover:scale-[1.02] rounded-[3px]"
          >
            <div class="relative h-[250px] md:h-[300px] object-cover">
              <img
                src="./images/acad01.jpeg"
                alt="slide-show"
                class="w-full h-[300px]"
              />
              <div
                class="p-[1rem] text-center absolute top-[-100%] group-hover:top-0 bg-linear-to-b from-indigo-500 to-transparent h-[300px] flex flex-col align-center justify-center text-white transition-all ease-out duration-500"
              >
                <h3
                  class="text-xl font-semibold tracking-wider mb-[0.8rem] text-yellow-500 text-shadow-[2px_2px_10px_rgba(0,0,0,0.5)]"
                >
                  Web Design
                </h3>
                <h2 class="text-2xl font-bold text-2xl">
                  Get a stunning website that is professionally done.
                </h2>
                <div class="mt-[1rem]">
                  <i
                    class="fa-solid fa-arrow-up-right-from-square text-indigo-500 font-bold bg-white text-xl inline-flex border border-3 border-white p-3 rounded-full"
                  ></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- footer -->
    <%- include ("./partials/footer.ejs")%>
    <!-- end footer -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script src="./script.js"></script>
  </body>
</html>
