<!doctype html>
<html lang="en">
  <!-- header  -->
  <%-include ("./partials/header.ejs")%>
  <!-- end header -->
  <body
    class="bg-linear-to-r from-cyan-900 to-cyan-600 md:via-cyan-600 md:to-cyan-500"
  >
    <div>
      <!-- navbar -->
      <%-include ("./partials/navbar.ejs")%>
      <!-- end navbar -->
      <div class="text-white py-3">
        <h2 class="text-2xl md:text-4xl lg:text-5xl font-bold my-8 text-center">
          Terms and Condition
        </h2>
      </div>
    </div>

    <section class="h-full w-full px-2 lg:px-8 py-2 lg:py-8 bg-blue-50">
      <div class="bg-white w-full max-w-300 shadow-xl mx-auto p-4 text-justify">
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tempore vero
          asperiores fugiat quia doloremque, illum a tenetur necessitatibus
          explicabo non nostrum itaque eius iure qui repellendus eveniet facere
          blanditiis obcaecati iste corporis maxime! Iure alias sed obcaecati
          iusto tempora eum?
        </p>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tempore vero
          asperiores fugiat quia doloremque, illum a tenetur necessitatibus
          explicabo non nostrum itaque eius iure qui repellendus eveniet facere
          blanditiis obcaecati iste corporis maxime! Iure alias sed obcaecati
          iusto tempora eum?
        </p>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tempore vero
          asperiores fugiat quia doloremque, illum a tenetur necessitatibus
          explicabo non nostrum itaque eius iure qui repellendus eveniet facere
          blanditiis obcaecati iste corporis maxime! Iure alias sed obcaecati
          iusto tempora eum?
        </p>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tempore vero
          asperiores fugiat quia doloremque, illum a tenetur necessitatibus
          explicabo non nostrum itaque eius iure qui repellendus eveniet facere
          blanditiis obcaecati iste corporis maxime! Iure alias sed obcaecati
          iusto tempora eum?
        </p>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tempore vero
          asperiores fugiat quia doloremque, illum a tenetur necessitatibus
          explicabo non nostrum itaque eius iure qui repellendus eveniet facere
          blanditiis obcaecati iste corporis maxime! Iure alias sed obcaecati
          iusto tempora eum?
        </p>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tempore vero
          asperiores fugiat quia doloremque, illum a tenetur necessitatibus
          explicabo non nostrum itaque eius iure qui repellendus eveniet facere
          blanditiis obcaecati iste corporis maxime! Iure alias sed obcaecati
          iusto tempora eum?
        </p>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tempore vero
          asperiores fugiat quia doloremque, illum a tenetur necessitatibus
          explicabo non nostrum itaque eius iure qui repellendus eveniet facere
          blanditiis obcaecati iste corporis maxime! Iure alias sed obcaecati
          iusto tempora eum?
        </p>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tempore vero
          asperiores fugiat quia doloremque, illum a tenetur necessitatibus
          explicabo non nostrum itaque eius iure qui repellendus eveniet facere
          blanditiis obcaecati iste corporis maxime! Iure alias sed obcaecati
          iusto tempora eum?
        </p>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tempore vero
          asperiores fugiat quia doloremque, illum a tenetur necessitatibus
          explicabo non nostrum itaque eius iure qui repellendus eveniet facere
          blanditiis obcaecati iste corporis maxime! Iure alias sed obcaecati
          iusto tempora eum?
        </p>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tempore vero
          asperiores fugiat quia doloremque, illum a tenetur necessitatibus
          explicabo non nostrum itaque eius iure qui repellendus eveniet facere
          blanditiis obcaecati iste corporis maxime! Iure alias sed obcaecati
          iusto tempora eum?
        </p>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tempore vero
          asperiores fugiat quia doloremque, illum a tenetur necessitatibus
          explicabo non nostrum itaque eius iure qui repellendus eveniet facere
          blanditiis obcaecati iste corporis maxime! Iure alias sed obcaecati
          iusto tempora eum?
        </p>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tempore vero
          asperiores fugiat quia doloremque, illum a tenetur necessitatibus
          explicabo non nostrum itaque eius iure qui repellendus eveniet facere
          blanditiis obcaecati iste corporis maxime! Iure alias sed obcaecati
          iusto tempora eum?
        </p>
      </div>
    </section>

    <!-- footer -->
    <%- include ("./partials/footer.ejs")%>
    <!-- end footer -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script src="./script.js"></script>
  </body>
</html>
