<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>mbiyuInspired</title>
  <link rel="stylesheet" href="/css/output.css" />
  <!-- cdk5 -->
  <link
    rel="stylesheet"
    href="https://cdn.ckeditor.com/ckeditor5/47.5.0/ckeditor5.css"
  />
  <!-- Slick Carousel CSS -->
  <link
    rel="stylesheet"
    type="text/css"
    href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"
  />
  <link
    rel="stylesheet"
    type="text/css"
    href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"
  />
  <!-- font-awesome -->
  <script
    src="https://kit.fontawesome.com/ad5b6e87a8.js"
    crossorigin="anonymous"
  ></script>
</head>
