<footer class="text-white h-[50px] md:h-[60px]">
  <div class="px-8 text-center text-[1.1rem] font-bold py-2 text-white">
    Copyright &copy; 2026 mbiyuInspired | Powered by Mbiyu Design
  </div>
</footer>
