<nav
  class="w-full h-[60px] md:h-[70px] px-4 md:px-8 flex items-center justify-between bg-transparent text-white z-[999]"
  aria-label="main navbar"
>
  <!-- logo/brand -->
  <div class="flex-shrink-0">
    <a
      href="/"
      class="text-xl md:text-2xl lg:text-[2rem] font-bold text-yellow-400 hover:text-yellow-300 transition-colors"
      >mbiyu<span class="text-white">inspired</span></a
    >
  </div>
  <!-- admin nav -->
  <ul class="hidden md:flex items-center px-4 h-full font-semibold space-x-1">
    <li class="h-full">
      <a
        class="inline-flex items-center px-4 h-full text-[1.1rem] transition-all duration-300 ease hover:text-yellow-400 rounded-t-lg border-b-3 border-transparent hover:border-b-3 hover:border-yellow-500"
        href="/admin"
        >Home</a
      >
    </li>
    <li class="h-full">
      <a
        class="inline-flex items-center px-4 h-full text-[1.1rem] transition-all duration-300 ease hover:text-yellow-400 rounded-t-lg border-b-3 border-transparent hover:border-b-3 hover:border-yellow-500"
        href="/admin/posts"
        >Posts</a
      >
    </li>
    <li class="h-full">
      <a
        class="inline-flex items-center px-4 h-full text-[1.1rem] transition-all duration-300 ease hover:text-yellow-400 rounded-t-lg border-b-3 border-transparent hover:border-b-3 hover:border-yellow-500"
        href="/admin/users"
        >Users</a
      >
    </li>
    <li class="h-full">
      <a
        class="inline-flex items-center px-4 h-full text-[1.1rem] transition-all duration-300 ease hover:text-yellow-400 rounded-t-lg border-b-3 border-transparent hover:border-b-3 hover:border-yellow-500"
        href="/admin/topics"
        >Topics</a
      >
    </li>
    <li class="h-full">
      <a
        class="inline-flex items-center px-4 h-full text-[1.1rem] transition-all duration-300 ease hover:text-yellow-400 rounded-t-lg border-b-3 border-transparent hover:border-b-3 hover:border-yellow-500"
        href="/admin/contacts"
        >Contacts</a
      >
    </li>
    <li class="h-full">
      <a
        class="inline-flex items-center px-4 h-full text-[1.1rem] transition-all duration-300 ease hover:text-yellow-400 rounded-t-lg border-b-3 border-transparent hover:border-b-3 hover:border-yellow-500"
        href="/admin/subscribers"
        >Subscribers</a
      >
    </li>
  </ul>

  <!-- login button -->
  <div>
    <a
      href="/logic"
      class="hidden md:flex md:text-sm lg:text-xl font-semibold hover:text-indigo-500 rounded-full hover:bg-yellow-500 border border-solid border-2 border-white hover:border-yellow-500 transition-colors duration-300 ease p-[7px]"
      ><i class="fa-solid fa-arrow-right text-[1rem]"></i
    ></a>
  </div>
  <div class="md:hidden">
    <i class="fa-solid fa-bars text-2xl cursor-pointer"></i>
  </div>
</nav>
