<div
  class="md:w-[20%] w-full h-[70px] bg-cyan-700 text-[1rem] md:text-[1.1rem] lg:text-[1.2rem] flex flex-row justify-center md:justify-start items-center gap-4 md:flex-col px-2 text-white md:min-h-[calc(100vh-130px)]"
>
  <a
    href="/admin"
    class="max-w md:w-full px-4 py-4 mt-4 bg-amber-500 font-semibold"
  >
    Dashboard
  </a>
  <a
    href="/admin/posts"
    class="max-w md:w-full px-4 py-4 bg-amber-500 font-semibold"
  >
    Posts
  </a>

  <a
    href="/admin/users"
    class="max-w md:w-full px-4 py-4 bg-amber-500 font-semibold"
  >
    Users
  </a>
  <a
    href="/admin/contacts"
    class="max-w md:w-full px-4 py-4 bg-amber-500 font-semibold"
  >
    Contacts
  </a>
</div>
